
**/myenv/**
**/__pycache__/**
**/*.mp4
**/temp/*
**/campains
**/lib/*
**/*env*
Declaree/client_secret_972796584910-lq1gu7ieunjqae1scop0emp1k7l608cq.apps.googleusercontent.com.json
Declaree/export/expenses.csv
